# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env

# Data
data/raw/lap_times.csv
data/raw/pit_stops.csv
data/raw/sprint_results.csv
data/processed/

# Models
models/*
!models/model_final.pkl
!models/model_config.json
!models/model_winner.pkl
!models/model_winner_config.json

